<p id="notice"><%= notice %></p>

<h1>Listing Exams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sub name</th>
      <th>Grade</th>
      <th>Start date</th>
      <th>Start time</th>
      <th>Description</th>
      <th>Year group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.sub_name %></td>
        <td><%= exam.grade %></td>
        <td><%= exam.start_date %></td>
        <td><%= exam.start_time %></td>
        <td><%= truncate(exam.description) %></td>
        <td><%= exam.year_group.name %></td>
        <td class ="button"><%= link_to 'Show', exam %></td>
        <td class ="button"><%= link_to 'Edit', edit_exam_path(exam) %></td>
        <td class ="button"><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td><%= link_to 'New Exam', new_exam_path, class:  'btn btn-success btn-xs' %></td>
